# API URL - Development: http://192.168.1.100:3001/api/ | Production: https://your-api.com/api/
EXPO_PUBLIC_API_URL=

# App Environment (development | production | preview)
EXPO_PUBLIC_APP_ENV=development